<h1 class='page-title'><span>מערכת ניהול המתנות</span> של דור חדש בשוברים</h1>
<app-container>
    <div class="center-form">
        <h2>התחברו כאן</h2>
        <form class="search-container">
            <div class="input-wrapper">
                <label for="username">שם משתמש</label>
                <input class='ui-inputtext' type="text" id="username" [(ngModel)]="username"
                    [ngModelOptions]="{standalone: true}" autocomplete="email">
                <span class="error-desc" *ngIf="showErrors && username == ''">שדה חובה</span>
            </div>
            <div class="input-wrapper">
                <label for="password">סיסמה</label>
                <input class='ui-inputtext' type="password" id="password" [(ngModel)]="password"
                    [ngModelOptions]="{standalone: true}" autocomplete="current-password">
                <span class="error-desc" *ngIf="showErrors && password == ''">שדה חובה</span>
            </div>
            <button *ngIf="!isLoading" class="btn primary" (click)="login()">כניסה</button>
            <span class="error-desc" *ngIf="!isLoading && loginError">הפרטים שהוזנו אינם נכונים</span>
            <div *ngIf="isLoading" class="loader">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </form>
    </div>
</app-container>
<!-- Banner -->
<div class="banner-wrapper">
    <img src="./assets/images/banner.png" alt="">
</div>