.container {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    font-weight: 400;
    font-size: 2.5rem;
    margin: 1rem 0 1.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

.choice-wrapper {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}

.choice-img img {
    width: 100%;
    border-radius: 6px;
}

.choice-desc {
    font-size: 1.2rem;
    text-align: right;
}

@media (max-width: 576px) {
    .choice-wrapper {
        grid-template-columns: auto;
    }
    .choice-desc {
        text-align: center;
    }
}

.send-options {
    display: flex;
    width: 32%;
    margin: 0 auto 1rem;
    justify-content: center;
}

.send-option {
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    position: relative;
    border-radius: 4px;
    min-width: 68px;
    cursor: pointer;
    transition: border .2s;
}

.send-option.active {
    border: 2px solid #873d4c;
}

.send-option span {
    display: block;
    color: #495057;
}

.send-option:not(:last-child) {
    margin-left: 1rem;
}

.send-option i {
    font-size: 2rem;
}

.send-option i.fa.fa-comment {
    position: absolute;
    font-size: 1rem;
    top: 1px;
    right: 15px;
    box-shadow: -2px 2px 0px #fff;
}

.sendform-wrapper {
    min-height: 164px;
}

.form-control {
    width: 18%;
    min-width: 250px;
    margin-bottom: 1rem;
}

.btn {
    font-size: 1.25rem;
}