.instructions, .instructions .btn {
	font-size: 1.25rem;
}

.orders-grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 2rem;
	margin-bottom: 1rem;
}
.ie11.orders-grid {
	display: block;
}
.ie11 .order-wrapper {
	display: inline-block;
	width: calc(29% - 8rem);
	margin-left: 2rem;
	margin-bottom: 2rem;
}

.order-banner {
	padding-top: 75%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0 0 11px rgba(0,0,0,.35);
	cursor: pointer;
	transition: box-shadow .2s;
}

.order-banner.unlickable { cursor: default; }
.order-banner.faded { opacity: 0.75; }
.order-banner.expanded {
	border-bottom: 4px solid #873d4c;
	box-shadow: 0 0 16px rgb(0 0 0 / 45%);
}
.order-banner.expanded:after {
	content: "";
	height: 0;
	width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #873d4c;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.order-banner.unclickable { cursor: default; }

.order-banner:not(.unclickable):hover {
	box-shadow: 0 0 16px rgba(0,0,0,.45);
	opacity: 1;
}

.order-banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.order-footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	padding: .4rem .5rem;
	color:  #fff;
	background: rgba(0,0,0,.72);
	justify-content: center;
}

.order-footer span {
	font-size:  1.3rem;
	font-weight: 600;
}

.order-wrapper.expanded {
	grid-row: span 2;
	grid-column: span 2;
}
.ie11 .order-wrapper.expanded {
	width: calc(50% - 2rem);
}

.order-container {
	border-radius: .25rem;
	background-color: #f5f5f5;
	padding: 1.5rem;
}

@media (max-width: 992px) {
	.order-container {
		padding: 1.5rem 1rem;
	}
	.orders-grid {
		-ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
		grid-template-columns: repeat(3,1fr);
	}
	.ie11 .order-wrapper {
		width: calc(36% - 6rem);
	}
	.ie11 .order-wrapper.expanded {
		width: calc(67% - 2rem);
	}
}

@media (max-width: 768px) {
	.orders-grid {
		-ms-grid-columns: 1fr 2rem 1fr;
		grid-template-columns: repeat(2,1fr);
	}
	.ie11 .order-wrapper {
		width: calc(50% - 2rem);
	}
	.btn:not(.btn-large) {
		padding: 0.25rem 0.5rem;
	}
	.ie11 .order-wrapper.expanded {
		width: 100%;
		margin-left: 0;
		display:block;
	}
}

@media (max-width: 576px) {
	.orders-grid {
		-ms-grid-columns: auto;
		grid-template-columns: auto;
	}
	.order-wrapper.expanded {
		grid-column: auto;
		grid-row: auto;
	}
	.ie11 .order-wrapper {
		width: 100%;
		margin-left: 0;
		display: block;
	}
}