:host {
    display: block;
    .header-wrapper {
        border-bottom: 1px solid #DBDBDB;
        padding-bottom: 24px;
        margin-bottom: 25px;
        h3 {
            font-size: 25px;
            line-height: 30px;
            font-weight: 400;
            margin: 0;
            span {
                font-weight: 600; 
            }
        }

    } 
}