<p-paginator [rows]="5" 
             [totalRecords]="40" 
             [rowsPerPageOptions]="[10,20,30]"

             [dropdownAppendTo]='"body"'

             ></p-paginator>

             <!-- [templateLeft]='paginatorleft'
             [templateRight]='paginatorright' -->
   
<!-- <ng-template pTemplate="paginatorleft" let-state #paginatorleft>
    ככדגכדגכדג
<button type="button" pButton icon="fa-refresh"></button>
</ng-template>
<ng-template pTemplate="paginatorright" #paginatorright>
    <button type="button" pButton icon="fa-cloud-upload"></button>
</ng-template> -->
